[submodule "ModsCommon"]
	path = ModsCommon
	url = https://github.com/MacSergey/ModsCommon
[submodule "LaneController/KianCommons"]
	path = LaneController/KianCommons
	url = https://github.com/kianzarrin/KianCommons
